<section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto">

      <div class="pb-10 flex">
      <input type="text" id="search-text" aria-describedby="search-text" 
      class="w-2/5 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      (input)="searchRecord($event)" placeholder="Buscar" autofocus>

      <button (click)="sortList()" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Ordenar por fecha</button>


      </div>

      <table class="table-auto">
        <thead>
          <tr>
            <th>Id</th>
            <th>Operation Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of userRecordList | appFilter: searchText">
            <td>{{n.id}}</td>
            <td>{{n.operationId}}</td>
          </tr>
        </tbody>
      </table>


      <div class="flex justify-center items-center">
      <div class="p-2 w-2/5 flex" >
        <button (click)="previousPage()" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Anterior</button>
        <button (click)="nextPage()" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Siguiente</button>
      </div>
      </div>

    </div>
  </section>