<section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto">

      <div class="pb-10 flex">
      <input type="text" id="search-text" aria-describedby="search-text" 
      class="w-2/5 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      (input)="searchRecord($event)" placeholder="Buscar" autofocus>

      <button (click)="sortList()" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Ordenar por fecha</button>


      </div>

      <div class="flex flex-wrap -m-4" >
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full" *ngFor="let n of userRecordList | appFilter: searchText">

          <div style="display: flex;" > 
            <p class="mt-1 pr-4">{{n.published_at | date: 'dd MMM yyyy' }}</p>

            <div class="cursor-pointer"  >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
            </svg>
            </div>            

          </div>                    

          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" [src]="n.image_url">
          </a>
          <div class="mt-4">
            <p class="mt-1">{{n.description}}</p>
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{n.title}}</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">{{n.summary}}</h2>
            
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center">
      <div class="p-2 w-2/5 flex" >
        <button (click)="previousPage()" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Anterior</button>
        <button (click)="nextPage()" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Siguiente</button>
      </div>
      </div>

    </div>
  </section>